.heatmapcss{
  background: url('./components/assets/bg.png') no-repeat right top;
  background-size: contain;
  background-color: red;
  /* height: 155px;
  width: 464px; */
  /* Ratio of w/h is 3:1 */
  width: 60vw;
  height: 20vw;
}


/* some classes to rotate the heatmap canvas */
.right{
  transform: rotate(90deg);
}
.left{
  transform: rotate(-90deg);
}
.upsideDown{
  transform: rotate(180deg);
}
